# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# ---- Virtual Environment ----
.venv/
venv/
env/

# ---- VS Code ----
.vscode/

# ---- OS files ----
.DS_Store
Thumbs.db

# ---- ML / Data (important for your project) ----
models
data

# ---- Secrets ----
.env
train_classifier.py
